body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #66fcf1;
    background-color: #1f2833;
}


/** HEADER **/

#header-nav {
    background-color: #0b0c10;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #45a29e;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: #45a29e;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #66fcf1;
}

#nav-list {
    background-color: #1f2833;
}

#nav-list a {
    /*text-align: center;*/
    font-weight: bolder;
    color: #45a29e;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: #66fcf1;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #45a29e;
}


/** END HEADER */


/** HOME PAGE **/

#main-content {
    width: 92%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#arthur-tile, #smurfs-tile, #homeland-tile {
    width: 100%;
    padding: 20px;
    background-color: #0b0c10;
    margin-bottom: 60px;
    box-shadow: 0 0 80px #66fcf1;
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/** END HOME PAGE **/